{% extends "::base.html.twig" %}

{% block body %}
<div class="container">

    <div id="header">
        <div id="logo">
            <h1>Альбомчик.Ру</h1>
        </div>
        <ul class="menu" id="top_menu">
            <li>
                <a href="{{path('homepage')}}">Главная</a>
            </li>
            <li>
                <a href="{{path('homepage')}}">Контакты</a>
            </li>
            <li>
                <a href="{{path('homepage')}}">Доставка</a>
            </li>
        </ul>
        {% render 'JekaShopBundle:Shop:cartGlobalBlock'%}
    </div>
    <div id="content" >

    <div id="categories">
        {% render 'JekaShopBundle:Shop:categoriesNav'%}
    </div>

    {% block content %}
        No content.
    {% endblock %}

    </div>



    <!-- Footer -->
    <div id="footer" class="box">
        <p class="f-left">Developed by <a href="http://github.com/vespolina/vespolina-sandbox">vespolina team</a></p>
        <p class="f-right">&copy; 2012 <a href="#">Vespolina</a>, All Rights Reserved &reg;</p>
    </div> <!-- /footer -->
</div>
{% endblock %}

