{% extends "JekaShopBundle::layout.html.twig"%}

{% block title %}
{{category.name}}
{% endblock%}

{% block content %}
<div class="jk-category">

    <h1>{{category.name}}</h1>

    {#{% include 'JekaShopBundle:Shop:_category_breadcrumb.html.twig' with {'category': category}%}#}

    <div class="products-list row">

        {% for product in pager.getCurrentPageResults()%}

        <div class="span3">
            {% include 'JekaShopBundle:Shop:_thumb.html.twig' with {'product':product}%}
        </div>
        {% endfor%}

    </div>

</div>
{% endblock%}