<script type="text/javascript">
    $(function () {
        var formId = 'to-cart-form_{{product.id}}';
        $('#'+formId+' .action-info').html('<div class="success">Товар успешно добавлен в корзину.</div>');
    });
</script>