{% extends "JekaShopBundle::layout.html.twig"%}

{% block title%}{{jeka_shop_name}} &mdash; Фотоаольбомы и фототовары. Подарки любимым и близким.{% endblock%}

{% block content %}

<!--
<h2>{{'Themes'|trans}}</h2>
<div class="row sets">
    <div class="span4">
        <h3>14 февраля</h3>
    </div>
    <div class="span4">
        <h3>23 февраля</h3>
    </div>
    <div class="span4">
        <h3>8 марта</h3>
    </div>
    <div class="span4">
        <h3>Свадебные</h3>
    </div>
    <div class="span4">
        <h3>Детские</h3>
    </div>
    <div class="span4">
        <h3>Путешествия</h3>
    </div>
</div>
-->
<h2>{{'Random'|trans}}</h2>
<div class="row">
    {% for product in products %}
        <div class="span3">
            {% include 'JekaShopBundle:Shop:_thumb.html.twig' with {'product':product}%}
        </div>
    {% else %}
        No products loaded.
    {% endfor %}

</div>


{% endblock content%}